@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#808080 ;

}

.cabecalho{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 15px;
    height: 50px;
}

.principal{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1060px;
    background-color: #008000;
}

.pai1{
    display: flex;
    flex-direction: row;
    align-items: top;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content:end;
    margin: 20px;
    padding: 10px;
    width: 512px;
    border: solid white;
    text-align: center;
}

.foto{
    margin: 50px;
    width: 300px;
    max-height: 300px;
}

.pai2{
    display: flex;
    flex-direction: row;
    align-items: top;
}

.pai3{
    display: flex;
    flex-direction: row;
    align-items: top;
}

.paragrafo{
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: white;
    
}

.rodape{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: 100px;
    background-color: black;
    color: aliceblue;
    text-align: center;
}
